.table-filter tbody tr:hover {
  cursor: pointer;
  background-color: #eee;
}    
.table-filter .media .title{
  color: #696969;
  font-size: 18px;
  font-weight: bold;
  line-height: normal;
  margin: 0;
}
.table-filter .source{
  color: #00008B;
  margin-buttom:50:px
}
.table-filter .media .title h4 {
  margin-right: 10px;
  margin-left: 30px;
}
.table-filter .media .summary {
  font-size: 14px;
  margin-right: 30px;
  margin-left: 30px;
  color: #696969;
}
.title a:link{
  text-decoration:none; 
}
.title a:link {color:black;} 
.title a:visited {color:black;}
.margin-rl-2 {
  margin-right: 2px;
  margin-left: 2px;
}
.margin-r-10 {
  margin-right: 10px;
}
.margin-l-5 {
  margin-left: 5px;
}
.margin-tb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.margin-tb-2 {
  margin-top: 2px;
  margin-bottom: 2px;
}
.white-space-prewrapped {
  white-space: pre-wrap;
}